* {
    margin: 0;
    padding: 0;
}

html {
    background: #5c6ac4;
}

body {
    background: #f3f4fa;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    text-shadow: 0;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

/*background colors*/
.lightest-blue-bg {
    background-color: #f3f4fa;
}

.light-blue-bg {
    background-color: #b3bcf5;
}

.blue-bg {
    background-color: #5c6ac4;
}

.dark-blue-bg {
    background-color: #202e78;
}

.darkest-blue-bg {
    background-color: #000639;
}
/* background color ends¬ */

/*colors*/
.white {
    color: #fff;
}

.lightest-blue {
    color: #f3f4fa;
}

.light-blue {
    color: #b3bcf5;
}

.blue {
    color: #5c6ac4;
}

.dark-blue {
    color: #202e78;
}

.darkest-blue {
    color: #000639;
}

/*flex classes*/
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-around {
    justify-content: space-around;
}

.justify-between {
    justify-content: space-between;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.align-baseline {
    align-items: baseline;
}

.align-stretch {
    align-items: stretch;
}

.flex-auto {
    flex: auto;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}
.flex-7 {
    flex: 7;
}
.flex-8 {
    flex: 8;
}
.flex-9 {
    flex: 9;
}
.flex-10 {
    flex: 10;
}
.flex-11 {
    flex: 11;
}
.flex-12 {
    flex: 12;
}

.flex-70 {
    flex: 70;
}
/*flex classes ends*/

.uppercase {
    text-transform: uppercase;
}

/* margins starts */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-70 {
    margin-top: 70px;
}

.margin-top-80 {
    margin-top: 80px;
}

.margin-top-90 {
    margin-top: 90px;
}

.margin-top-100 {
    margin-top: 100px;
}
/* margins ends */

/* font-sizes starts */
.font-14 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.font-24 {
    font-size: 24px;
}

.font-50 {
    font-size: 50px;
}

.font-60 {
    font-size: 60px;
}
/* font-sizes ends*/

/* font weights starts */
.weight-100 {
    font-weight: 100;
}

.weight-200 {
    font-weight: 200;
}

.weight-300 {
    font-weight: 300;
}

.weight-400 {
    font-weight: 400;
}

.weight-500 {
    font-weight: 500;
}

.weight-600 {
    font-weight: 600;
}

.weight-700 {
    font-weight: 700;
}

.weight-800 {
    font-weight: 900;
}

.weight-900 {
    font-weight: 900;
}
/* font weights ends */

.text-center {
    text-align: center;
}
