* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    font-family: "radnika-next", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    font-weight: 400;
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 300px;
    align-items: flex-start;
    background-color: #6487fb;
    background-repeat: round space;
}

.header .current-weather-card {
    margin-top: 65px;
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
    display: inline-block;
    border-top: 5px solid #ffc600;
    border-bottom: 5px solid #ffc600;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container {
    min-height: calc(100vh - 300px);
    display: flex;
    justify-content: center;
    background-color: #ffc730;
}

.container-card {
    margin-top: -50px;
    width: 80%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
}

.text-shadow {
    text-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
}

.box-shadow {
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.1);
}

.text-center {
    text-align: center;
}

.margin-top-10 {
    margin-top: 40px;
}

.color-white {
    color: #fff;
}
